.body{
    width: 100%;
}
.registro {
    text-align: -webkit-center;
    width: 25%;
    text-align: center;
    margin-top: 8%;
    margin-left: 35%;
    background-color:#7A7A7A;
    border-radius:10px;
  }
.logo-container {
    width: 30%;
}  
.botonregistrarse{
    width: 30%;
    height: 30%;
    margin-top:10px;
    background-color: #d7dfd7;
    border-radius:10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}