*{
    box-sizing: border-box;
  }
  body {
    margin:0;
    width: 100%;
  }
.HeaderContainer{
 display: flex;
 justify-content: space-between;
 background-color:rgb(10, 10, 66);
}
.logo1{
  width:200px;
  height:auto;
  position:relative;
  align-content: right;
}
.login-shop{
    color:white;
    list-style-type: none;   
}
.ls_link:link, ls_link:visited, ls_link:active{
    text-decoration: none;
    color:inherit;
}
.ls_link:hover{
    background-color: red;
  }
.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
.main-nav{
  display: block;
  justify-content:space-between;
  align-items:center;
  text-decoration: none;
  background-color:rgb(10, 10, 66);
}
.menu__item{
    text-align: center;
    display:inline;
    margin:20px;
    color:white;
    
  }
  .ls_link, ls_link:visited, .ls_link:active{
    text-decoration: none;
    color: inherit;
  }
  
  .ls_link:hover{
    background-color: red;
  }
  .menu__link , menu__link:visited,.menu__link:active
  {
    text-decoration: none;
    color:inherit;
  }
  .menu__link:hover{
    background-color: red;
  }
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }